.vscode/**
.vscode-test/**
src/**
test/**
CLAUDE.md
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/license
node_modules/**/*.yml
